
          <div class="share_buttons center-block">
            <div class="fb-like"
              data-href="http://labs.brunoamaral.eu/sm_events"
              data-send="true"
              data-layout="button_count"
              data-width="90"
              data-show-faces="false">
            </div>

            <a href="https://twitter.com/share"
              class="twitter-share-button"
              data-url="http://labs.brunoamaral.eu/sm_events"
              data-via=""
              data-lang="en">
            </a>

            <div class="google_plus">
              <div class="g-plusone"
                data-href="http://labs.brunoamaral.eu/sm_events"
                data-size="medium"
                data-annotation="bubble">
              </div>
            </div>
          </div>
          <div class="clearfix"></div>